@media only screen
	and (max-device-width: 930px)
	and (orientation: portrait)
{
	h1{
		font-size: 4rem;
	}
	#time{
		font-size: 4rem;
		margin: 50px 0px -30px 0px;
	}
	form{
		margin-top: 130px;
	}
	input{
		font-size: 2.5rem;
		width: 70vw;
		height: 10vw;
	}
	button{
		width: 20vw;
		height: 10vw;
		color: #222;
		font-size: 2.5rem;
		font-weight: normal;
		padding: 0;
	}
	ul{
		flex-direction: column;
		align-items: center;
		align-content: center;
		font-size: 4rem;
	}
	li{
		margin: 24px;
		padding: 10px;
		border-radius: 6px;
		background-color: darkgray;
	}
	li:active{
		background-color: gray;
	}
	a{
		color: #222;
		text-decoration: none;
	}
	a:visited{
		color: #222;
	}
	a:active{
		color: #222;
	}
	img{
		margin-bottom: 100px;
	}
}





