@media only screen
	and (max-width: 1100px)
{
	input {
		font-size: 1rem;
		width: 26vw;
		height: 2.7vw;
		min-width: 225px;
		min-height: 25px;
	}
	button{
		width: 7vw;
		height: 2.7vw;
		min-width: 70px;
		min-height: 25px;
		font-size: 1rem;
		font-weight: normal;
		padding: 0;
	}
	ul{
		flex-direction: row;
		flex-wrap: wrap;
		align-items: center;
		align-content: center;
		font-size: 1.2rem;
	}
	li{
		margin: 9px;
		padding: 10px;
		border-radius: 6px;
		background-color: darkgray;
	}
	li:active{
		background-color: gray;
	}
	a{
		color: #222;
		text-decoration: none;
	}
	a:visited{
		color: #222;
	}
	a:active{
		color: #222;
	}
	img{
		margin-top: 70px;
	}
	iframe{
		margin-top: 70px;
		position: static;
		width: 90vw;
		height: 70vh;
	}
	
}
